.content-box {
  padding: 20px;
  margin: 10px;
  background-color: #3d006eb6;
  border: 1px solid #ccc;
}

table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid #000608ef;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #ff9100c4;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 15px;
      border: 4px solid #2845eb8c;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: rgba(178, 189, 26, 0.89);
      padding: 25px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #a402aa;
    }

    .transition-button {
        background-color: rgb(17, 0, 255);
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .transition-button:hover {
        background-color: rgb(132, 0, 255);
      }

      .animation-box {
        width: 50px;
        height: 50px;
        background-color: rgb(0, 0, 0);
        position: relative;
        animation: move 2s infinite alternate;
      }
      
      @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 100px;
        }
      }

      .pseudo-list li:nth-child(odd) {
        background-color: lightgray;
      }
      
      .pseudo-list li:nth-child(even) {
        background-color: white;
      }

      .filter-image {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
      }
      
      .filter-image:hover {
        filter: grayscale(0%);
      }
      .quote {
        position: relative;
        padding-left: 20px;
        font-style: italic;
      }
      
      .quote::before {
        content: '“';
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        color: lightgray;
      }